body,
.header,
.main,
.intro,
.pres-div,
.list-div,
.pres2-div {
  display: flex;
  flex-direction: column;
}
.ul-div,
.ipad-div {
  display: flex;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #181616;
}

h1 {
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 30px;
}

li {
  margin: 10px;
}

span {
  font-weight: bold;
}

button {
  background-color: #ef6c00;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 30, 0.2);
  border: solid 1px #ef6c00;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin: 5px;
}

button:hover {
  background-color: #e65100;
}
.capImg {
  height: px;
  width: 275px;
}

.header {
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100vw;
  height: 500px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 1)
    ),
    url(wrapping.jpg);
  background-size: cover;
  text-align: center;
}

.header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 5em;
  margin-bottom: 0px;
  color: #181616;
}
.header h2 {
  margin-top: 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  text-transform: uppercase;
  color: #181616;
  border-top: 2px solid #ef6c00;
}

.main {
  align-items: center;
}

.intro {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 90%;
}

.list-div {
  margin: 0px 10px 0px 10px;
  padding: 20px;
  width: 90%;
}

.pres-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pres2-div {
  align-items: center;
  justify-content: center;
}

.ipad-div {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.redRider {
  color: #ef6c00;
  font-size: 2em;
  border-bottom: solid 1px black;
}
